$header_height: 50px;
$header_padd_v : 10px;
$header_padd_h : 20px;
$m_header_padd_h : 10px;

$util_height : 30px;
$nav_height : 69px;

$aside_width : 210px;
$aside_padd : 20px;

/* 색상 */
$logo_bg : #111;
$header_bg : rgb(34,34,34);
$user_box_bg : #222;
$write_bg : #444;
$aside_bg : #222;
$gnb_title_bg : #111;
$container_bg : #ddd;
$user_menu1_bg : #e64c3c;
$user_menu2_bg : #e17d25;
$user_menu3_bg : #f4c10f;
$user_menu4_bg : #29ae5d;

$point : #0F84CF;

/* 미디어쿼리 사이즈 */
$media_w : 680px;

/* 창 */
$window_cell_h : 50px;
$window_cell_padd : 20px;
