/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$add-name: 'add';
$add-x: 546px;
$add-y: 312px;
$add-offset-x: -546px;
$add-offset-y: -312px;
$add-width: 16px;
$add-height: 16px;
$add-total-width: 600px;
$add-total-height: 398px;
$add-image: '../../images/spr/sprite.png';
$add: (546px, 312px, -546px, -312px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'add', );
$add-friend-name: 'addFriend';
$add-friend-x: 216px;
$add-friend-y: 259px;
$add-friend-offset-x: -216px;
$add-friend-offset-y: -259px;
$add-friend-width: 24px;
$add-friend-height: 24px;
$add-friend-total-width: 600px;
$add-friend-total-height: 398px;
$add-friend-image: '../../images/spr/sprite.png';
$add-friend: (216px, 259px, -216px, -259px, 24px, 24px, 600px, 398px, '../../images/spr/sprite.png', 'addFriend', );
$bell-name: 'bell';
$bell-x: 244px;
$bell-y: 122px;
$bell-offset-x: -244px;
$bell-offset-y: -122px;
$bell-width: 30px;
$bell-height: 30px;
$bell-total-width: 600px;
$bell-total-height: 398px;
$bell-image: '../../images/spr/sprite.png';
$bell: (244px, 122px, -244px, -122px, 30px, 30px, 600px, 398px, '../../images/spr/sprite.png', 'bell', );
$bell-circle-name: 'bell_circle';
$bell-circle-x: 376px;
$bell-circle-y: 368px;
$bell-circle-offset-x: -376px;
$bell-circle-offset-y: -368px;
$bell-circle-width: 15px;
$bell-circle-height: 15px;
$bell-circle-total-width: 600px;
$bell-circle-total-height: 398px;
$bell-circle-image: '../../images/spr/sprite.png';
$bell-circle: (376px, 368px, -376px, -368px, 15px, 15px, 600px, 398px, '../../images/spr/sprite.png', 'bell_circle', );
$bold-name: 'bold';
$bold-x: 150px;
$bold-y: 312px;
$bold-offset-x: -150px;
$bold-offset-y: -312px;
$bold-width: 16px;
$bold-height: 16px;
$bold-total-width: 600px;
$bold-total-height: 398px;
$bold-image: '../../images/spr/sprite.png';
$bold: (150px, 312px, -150px, -312px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'bold', );
$bookmark-name: 'bookmark';
$bookmark-x: 70px;
$bookmark-y: 312px;
$bookmark-offset-x: -70px;
$bookmark-offset-y: -312px;
$bookmark-width: 20px;
$bookmark-height: 27px;
$bookmark-total-width: 600px;
$bookmark-total-height: 398px;
$bookmark-image: '../../images/spr/sprite.png';
$bookmark: (70px, 312px, -70px, -312px, 20px, 27px, 600px, 398px, '../../images/spr/sprite.png', 'bookmark', );
$circle34-ccc-name: 'circle34_ccc';
$circle34-ccc-x: 190px;
$circle34-ccc-y: 194px;
$circle34-ccc-offset-x: -190px;
$circle34-ccc-offset-y: -194px;
$circle34-ccc-width: 34px;
$circle34-ccc-height: 34px;
$circle34-ccc-total-width: 600px;
$circle34-ccc-total-height: 398px;
$circle34-ccc-image: '../../images/spr/sprite.png';
$circle34-ccc: (190px, 194px, -190px, -194px, 34px, 34px, 600px, 398px, '../../images/spr/sprite.png', 'circle34_ccc', );
$close-name: 'close';
$close-x: 485px;
$close-y: 194px;
$close-offset-x: -485px;
$close-offset-y: -194px;
$close-width: 24px;
$close-height: 24px;
$close-total-width: 600px;
$close-total-height: 398px;
$close-image: '../../images/spr/sprite.png';
$close: (485px, 194px, -485px, -194px, 24px, 24px, 600px, 398px, '../../images/spr/sprite.png', 'close', );
$color-name: 'color';
$color-x: 186px;
$color-y: 312px;
$color-offset-x: -186px;
$color-offset-y: -312px;
$color-width: 16px;
$color-height: 16px;
$color-total-width: 600px;
$color-total-height: 398px;
$color-image: '../../images/spr/sprite.png';
$color: (186px, 312px, -186px, -312px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'color', );
$delete-name: 'delete';
$delete-x: 232px;
$delete-y: 368px;
$delete-offset-x: -232px;
$delete-offset-y: -368px;
$delete-width: 16px;
$delete-height: 16px;
$delete-total-width: 600px;
$delete-total-height: 398px;
$delete-image: '../../images/spr/sprite.png';
$delete: (232px, 368px, -232px, -368px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'delete', );
$design-name: 'design';
$design-x: 354px;
$design-y: 122px;
$design-offset-x: -354px;
$design-offset-y: -122px;
$design-width: 40px;
$design-height: 19px;
$design-total-width: 600px;
$design-total-height: 398px;
$design-image: '../../images/spr/sprite.png';
$design: (354px, 122px, -354px, -122px, 40px, 19px, 600px, 398px, '../../images/spr/sprite.png', 'design', );
$down-name: 'down';
$down-x: 196px;
$down-y: 368px;
$down-offset-x: -196px;
$down-offset-y: -368px;
$down-width: 16px;
$down-height: 16px;
$down-total-width: 600px;
$down-total-height: 398px;
$down-image: '../../images/spr/sprite.png';
$down: (196px, 368px, -196px, -368px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'down', );
$down-grey-name: 'down_grey';
$down-grey-x: 340px;
$down-grey-y: 368px;
$down-grey-offset-x: -340px;
$down-grey-offset-y: -368px;
$down-grey-width: 16px;
$down-grey-height: 16px;
$down-grey-total-width: 600px;
$down-grey-total-height: 398px;
$down-grey-image: '../../images/spr/sprite.png';
$down-grey: (340px, 368px, -340px, -368px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'down_grey', );
$down-grey12-name: 'down_grey12';
$down-grey12-x: 474px;
$down-grey12-y: 122px;
$down-grey12-offset-x: -474px;
$down-grey12-offset-y: -122px;
$down-grey12-width: 12px;
$down-grey12-height: 12px;
$down-grey12-total-width: 600px;
$down-grey12-total-height: 398px;
$down-grey12-image: '../../images/spr/sprite.png';
$down-grey12: (474px, 122px, -474px, -122px, 12px, 12px, 600px, 398px, '../../images/spr/sprite.png', 'down_grey12', );
$embed-name: 'embed';
$embed-x: 474px;
$embed-y: 312px;
$embed-offset-x: -474px;
$embed-offset-y: -312px;
$embed-width: 16px;
$embed-height: 16px;
$embed-total-width: 600px;
$embed-total-height: 398px;
$embed-image: '../../images/spr/sprite.png';
$embed: (474px, 312px, -474px, -312px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'embed', );
$facebook-name: 'facebook';
$facebook-x: 348px;
$facebook-y: 194px;
$facebook-offset-x: -348px;
$facebook-offset-y: -194px;
$facebook-width: 32px;
$facebook-height: 32px;
$facebook-total-width: 600px;
$facebook-total-height: 398px;
$facebook-image: '../../images/spr/sprite.png';
$facebook: (348px, 194px, -348px, -194px, 32px, 32px, 600px, 398px, '../../images/spr/sprite.png', 'facebook', );
$follow-name: 'follow';
$follow-x: 348px;
$follow-y: 259px;
$follow-offset-x: -348px;
$follow-offset-y: -259px;
$follow-width: 24px;
$follow-height: 22px;
$follow-total-width: 600px;
$follow-total-height: 398px;
$follow-image: '../../images/spr/sprite.png';
$follow: (348px, 259px, -348px, -259px, 24px, 22px, 600px, 398px, '../../images/spr/sprite.png', 'follow', );
$game-name: 'game';
$game-x: 414px;
$game-y: 122px;
$game-offset-x: -414px;
$game-offset-y: -122px;
$game-width: 40px;
$game-height: 12px;
$game-total-width: 600px;
$game-total-height: 398px;
$game-image: '../../images/spr/sprite.png';
$game: (414px, 122px, -414px, -122px, 40px, 12px, 600px, 398px, '../../images/spr/sprite.png', 'game', );
$gender-name: 'gender';
$gender-x: 0px;
$gender-y: 259px;
$gender-offset-x: 0px;
$gender-offset-y: -259px;
$gender-width: 24px;
$gender-height: 33px;
$gender-total-width: 600px;
$gender-total-height: 398px;
$gender-image: '../../images/spr/sprite.png';
$gender: (0px, 259px, 0px, -259px, 24px, 33px, 600px, 398px, '../../images/spr/sprite.png', 'gender', );
$graphics-name: 'graphics';
$graphics-x: 490px;
$graphics-y: 52px;
$graphics-offset-x: -490px;
$graphics-offset-y: -52px;
$graphics-width: 40px;
$graphics-height: 20px;
$graphics-total-width: 600px;
$graphics-total-height: 398px;
$graphics-image: '../../images/spr/sprite.png';
$graphics: (490px, 52px, -490px, -52px, 40px, 20px, 600px, 398px, '../../images/spr/sprite.png', 'graphics', );
$heart-name: 'heart';
$heart-x: 506px;
$heart-y: 122px;
$heart-offset-x: -506px;
$heart-offset-y: -122px;
$heart-width: 12px;
$heart-height: 12px;
$heart-total-width: 600px;
$heart-total-height: 398px;
$heart-image: '../../images/spr/sprite.png';
$heart: (506px, 122px, -506px, -122px, 12px, 12px, 600px, 398px, '../../images/spr/sprite.png', 'heart', );
$heart-after-name: 'heartAfter';
$heart-after-x: 72px;
$heart-after-y: 122px;
$heart-after-offset-x: -72px;
$heart-after-offset-y: -122px;
$heart-after-width: 52px;
$heart-after-height: 52px;
$heart-after-total-width: 600px;
$heart-after-total-height: 398px;
$heart-after-image: '../../images/spr/sprite.png';
$heart-after: (72px, 122px, -72px, -122px, 52px, 52px, 600px, 398px, '../../images/spr/sprite.png', 'heartAfter', );
$heart-before-name: 'heartBefore';
$heart-before-x: 0px;
$heart-before-y: 122px;
$heart-before-offset-x: 0px;
$heart-before-offset-y: -122px;
$heart-before-width: 52px;
$heart-before-height: 52px;
$heart-before-total-width: 600px;
$heart-before-total-height: 398px;
$heart-before-image: '../../images/spr/sprite.png';
$heart-before: (0px, 122px, 0px, -122px, 52px, 52px, 600px, 398px, '../../images/spr/sprite.png', 'heartBefore', );
$id-name: 'id';
$id-x: 44px;
$id-y: 259px;
$id-offset-x: -44px;
$id-offset-y: -259px;
$id-width: 20px;
$id-height: 29px;
$id-total-width: 600px;
$id-total-height: 398px;
$id-image: '../../images/spr/sprite.png';
$id: (44px, 259px, -44px, -259px, 20px, 29px, 600px, 398px, '../../images/spr/sprite.png', 'id', );
$input-checked-name: 'input-checked';
$input-checked-x: 330px;
$input-checked-y: 312px;
$input-checked-offset-x: -330px;
$input-checked-offset-y: -312px;
$input-checked-width: 16px;
$input-checked-height: 16px;
$input-checked-total-width: 600px;
$input-checked-total-height: 398px;
$input-checked-image: '../../images/spr/sprite.png';
$input-checked: (330px, 312px, -330px, -312px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'input-checked', );
$input-unchecked-name: 'input-unchecked';
$input-unchecked-x: 294px;
$input-unchecked-y: 312px;
$input-unchecked-offset-x: -294px;
$input-unchecked-offset-y: -312px;
$input-unchecked-width: 16px;
$input-unchecked-height: 16px;
$input-unchecked-total-width: 600px;
$input-unchecked-total-height: 398px;
$input-unchecked-image: '../../images/spr/sprite.png';
$input-unchecked: (294px, 312px, -294px, -312px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'input-unchecked', );
$italic-name: 'italic';
$italic-x: 222px;
$italic-y: 312px;
$italic-offset-x: -222px;
$italic-offset-y: -312px;
$italic-width: 16px;
$italic-height: 16px;
$italic-total-width: 600px;
$italic-total-height: 398px;
$italic-image: '../../images/spr/sprite.png';
$italic: (222px, 312px, -222px, -312px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'italic', );
$left-name: 'left';
$left-x: 35px;
$left-y: 312px;
$left-offset-x: -35px;
$left-offset-y: -312px;
$left-width: 15px;
$left-height: 36px;
$left-total-width: 600px;
$left-total-height: 398px;
$left-image: '../../images/spr/sprite.png';
$left: (35px, 312px, -35px, -312px, 15px, 36px, 600px, 398px, '../../images/spr/sprite.png', 'left', );
$left-12-name: 'left_12';
$left-12-x: 411px;
$left-12-y: 368px;
$left-12-offset-x: -411px;
$left-12-offset-y: -368px;
$left-12-width: 12px;
$left-12-height: 12px;
$left-12-total-width: 600px;
$left-12-total-height: 398px;
$left-12-image: '../../images/spr/sprite.png';
$left-12: (411px, 368px, -411px, -368px, 12px, 12px, 600px, 398px, '../../images/spr/sprite.png', 'left_12', );
$like-name: 'like';
$like-x: 392px;
$like-y: 259px;
$like-offset-x: -392px;
$like-offset-y: -259px;
$like-width: 24px;
$like-height: 22px;
$like-total-width: 600px;
$like-total-height: 398px;
$like-image: '../../images/spr/sprite.png';
$like: (392px, 259px, -392px, -259px, 24px, 22px, 600px, 398px, '../../images/spr/sprite.png', 'like', );
$mail-name: 'mail';
$mail-x: 479px;
$mail-y: 259px;
$mail-offset-x: -479px;
$mail-offset-y: -259px;
$mail-width: 24px;
$mail-height: 18px;
$mail-total-width: 600px;
$mail-total-height: 398px;
$mail-image: '../../images/spr/sprite.png';
$mail: (479px, 259px, -479px, -259px, 24px, 18px, 600px, 398px, '../../images/spr/sprite.png', 'mail', );
$mediolio-name: 'mediolio';
$mediolio-x: 0px;
$mediolio-y: 52px;
$mediolio-offset-x: 0px;
$mediolio-offset-y: -52px;
$mediolio-width: 210px;
$mediolio-height: 50px;
$mediolio-total-width: 600px;
$mediolio-total-height: 398px;
$mediolio-image: '../../images/spr/sprite.png';
$mediolio: (0px, 52px, 0px, -52px, 210px, 50px, 600px, 398px, '../../images/spr/sprite.png', 'mediolio', );
$menu-button-name: 'menu-button';
$menu-button-x: 172px;
$menu-button-y: 259px;
$menu-button-offset-x: -172px;
$menu-button-offset-y: -259px;
$menu-button-width: 24px;
$menu-button-height: 24px;
$menu-button-total-width: 600px;
$menu-button-total-height: 398px;
$menu-button-image: '../../images/spr/sprite.png';
$menu-button: (172px, 259px, -172px, -259px, 24px, 24px, 600px, 398px, '../../images/spr/sprite.png', 'menu-button', );
$message-name: 'message';
$message-x: 567px;
$message-y: 259px;
$message-offset-x: -567px;
$message-offset-y: -259px;
$message-width: 23px;
$message-height: 18px;
$message-total-width: 600px;
$message-total-height: 398px;
$message-image: '../../images/spr/sprite.png';
$message: (567px, 259px, -567px, -259px, 23px, 18px, 600px, 398px, '../../images/spr/sprite.png', 'message', );
$my-portfolio-name: 'myPortfolio';
$my-portfolio-x: 436px;
$my-portfolio-y: 259px;
$my-portfolio-offset-x: -436px;
$my-portfolio-offset-y: -259px;
$my-portfolio-width: 23px;
$my-portfolio-height: 22px;
$my-portfolio-total-width: 600px;
$my-portfolio-total-height: 398px;
$my-portfolio-image: '../../images/spr/sprite.png';
$my-portfolio: (436px, 259px, -436px, -259px, 23px, 22px, 600px, 398px, '../../images/spr/sprite.png', 'myPortfolio', );
$name-name: 'name';
$name-x: 128px;
$name-y: 259px;
$name-offset-x: -128px;
$name-offset-y: -259px;
$name-width: 24px;
$name-height: 24px;
$name-total-width: 600px;
$name-total-height: 398px;
$name-image: '../../images/spr/sprite.png';
$name: (128px, 259px, -128px, -259px, 24px, 24px, 600px, 398px, '../../images/spr/sprite.png', 'name', );
$next-wh-name: 'next_wh';
$next-wh-x: 260px;
$next-wh-y: 259px;
$next-wh-offset-x: -260px;
$next-wh-offset-y: -259px;
$next-wh-width: 24px;
$next-wh-height: 24px;
$next-wh-total-width: 600px;
$next-wh-total-height: 398px;
$next-wh-image: '../../images/spr/sprite.png';
$next-wh: (260px, 259px, -260px, -259px, 24px, 24px, 600px, 398px, '../../images/spr/sprite.png', 'next_wh', );
$password-name: 'password';
$password-x: 400px;
$password-y: 194px;
$password-offset-x: -400px;
$password-offset-y: -194px;
$password-width: 20px;
$password-height: 32px;
$password-total-width: 600px;
$password-total-height: 398px;
$password-image: '../../images/spr/sprite.png';
$password: (400px, 194px, -400px, -194px, 20px, 32px, 600px, 398px, '../../images/spr/sprite.png', 'password', );
$pencil-name: 'pencil';
$pencil-x: 440px;
$pencil-y: 194px;
$pencil-offset-x: -440px;
$pencil-offset-y: -194px;
$pencil-width: 25px;
$pencil-height: 25px;
$pencil-total-width: 600px;
$pencil-total-height: 398px;
$pencil-image: '../../images/spr/sprite.png';
$pencil: (440px, 194px, -440px, -194px, 25px, 25px, 600px, 398px, '../../images/spr/sprite.png', 'pencil', );
$pencil-circle-name: 'pencil_circle';
$pencil-circle-x: 130px;
$pencil-circle-y: 194px;
$pencil-circle-offset-x: -130px;
$pencil-circle-offset-y: -194px;
$pencil-circle-width: 40px;
$pencil-circle-height: 40px;
$pencil-circle-total-width: 600px;
$pencil-circle-total-height: 398px;
$pencil-circle-image: '../../images/spr/sprite.png';
$pencil-circle: (130px, 194px, -130px, -194px, 40px, 40px, 600px, 398px, '../../images/spr/sprite.png', 'pencil_circle', );
$prev-name: 'prev';
$prev-x: 84px;
$prev-y: 259px;
$prev-offset-x: -84px;
$prev-offset-y: -259px;
$prev-width: 24px;
$prev-height: 24px;
$prev-total-width: 600px;
$prev-total-height: 398px;
$prev-image: '../../images/spr/sprite.png';
$prev: (84px, 259px, -84px, -259px, 24px, 24px, 600px, 398px, '../../images/spr/sprite.png', 'prev', );
$rad24-b5-name: 'rad24_b5';
$rad24-b5-x: 230px;
$rad24-b5-y: 52px;
$rad24-b5-offset-x: -230px;
$rad24-b5-offset-y: -52px;
$rad24-b5-width: 120px;
$rad24-b5-height: 24px;
$rad24-b5-total-width: 600px;
$rad24-b5-total-height: 398px;
$rad24-b5-image: '../../images/spr/sprite.png';
$rad24-b5: (230px, 52px, -230px, -52px, 120px, 24px, 600px, 398px, '../../images/spr/sprite.png', 'rad24_b5', );
$rad30-555-name: 'rad30_555';
$rad30-555-x: 144px;
$rad30-555-y: 122px;
$rad30-555-offset-x: -144px;
$rad30-555-offset-y: -122px;
$rad30-555-width: 80px;
$rad30-555-height: 30px;
$rad30-555-total-width: 600px;
$rad30-555-total-height: 398px;
$rad30-555-image: '../../images/spr/sprite.png';
$rad30-555: (144px, 122px, -144px, -122px, 80px, 30px, 600px, 398px, '../../images/spr/sprite.png', 'rad30_555', );
$rad30-center-wb-name: 'rad30_center_wb';
$rad30-center-wb-x: 0px;
$rad30-center-wb-y: 0px;
$rad30-center-wb-offset-x: 0px;
$rad30-center-wb-offset-y: 0px;
$rad30-center-wb-width: 600px;
$rad30-center-wb-height: 32px;
$rad30-center-wb-total-width: 600px;
$rad30-center-wb-total-height: 398px;
$rad30-center-wb-image: '../../images/spr/sprite.png';
$rad30-center-wb: (0px, 0px, 0px, 0px, 600px, 32px, 600px, 398px, '../../images/spr/sprite.png', 'rad30_center_wb', );
$rad30-left-w-name: 'rad30_left_w';
$rad30-left-w-x: 0px;
$rad30-left-w-y: 368px;
$rad30-left-w-offset-x: 0px;
$rad30-left-w-offset-y: -368px;
$rad30-left-w-width: 15px;
$rad30-left-w-height: 30px;
$rad30-left-w-total-width: 600px;
$rad30-left-w-total-height: 398px;
$rad30-left-w-image: '../../images/spr/sprite.png';
$rad30-left-w: (0px, 368px, 0px, -368px, 15px, 30px, 600px, 398px, '../../images/spr/sprite.png', 'rad30_left_w', );
$rad30-left-wb-name: 'rad30_left_wb';
$rad30-left-wb-x: 35px;
$rad30-left-wb-y: 368px;
$rad30-left-wb-offset-x: -35px;
$rad30-left-wb-offset-y: -368px;
$rad30-left-wb-width: 15px;
$rad30-left-wb-height: 30px;
$rad30-left-wb-total-width: 600px;
$rad30-left-wb-total-height: 398px;
$rad30-left-wb-image: '../../images/spr/sprite.png';
$rad30-left-wb: (35px, 368px, -35px, -368px, 15px, 30px, 600px, 398px, '../../images/spr/sprite.png', 'rad30_left_wb', );
$rad30-right-w-name: 'rad30_right_w';
$rad30-right-w-x: 70px;
$rad30-right-w-y: 368px;
$rad30-right-w-offset-x: -70px;
$rad30-right-w-offset-y: -368px;
$rad30-right-w-width: 15px;
$rad30-right-w-height: 30px;
$rad30-right-w-total-width: 600px;
$rad30-right-w-total-height: 398px;
$rad30-right-w-image: '../../images/spr/sprite.png';
$rad30-right-w: (70px, 368px, -70px, -368px, 15px, 30px, 600px, 398px, '../../images/spr/sprite.png', 'rad30_right_w', );
$rad30-right-wb-name: 'rad30_right_wb';
$rad30-right-wb-x: 105px;
$rad30-right-wb-y: 368px;
$rad30-right-wb-offset-x: -105px;
$rad30-right-wb-offset-y: -368px;
$rad30-right-wb-width: 15px;
$rad30-right-wb-height: 30px;
$rad30-right-wb-total-width: 600px;
$rad30-right-wb-total-height: 398px;
$rad30-right-wb-image: '../../images/spr/sprite.png';
$rad30-right-wb: (105px, 368px, -105px, -368px, 15px, 30px, 600px, 398px, '../../images/spr/sprite.png', 'rad30_right_wb', );
$rad8-l-name: 'rad8_l';
$rad8-l-x: 140px;
$rad8-l-y: 368px;
$rad8-l-offset-x: -140px;
$rad8-l-offset-y: -368px;
$rad8-l-width: 8px;
$rad8-l-height: 30px;
$rad8-l-total-width: 600px;
$rad8-l-total-height: 398px;
$rad8-l-image: '../../images/spr/sprite.png';
$rad8-l: (140px, 368px, -140px, -368px, 8px, 30px, 600px, 398px, '../../images/spr/sprite.png', 'rad8_l', );
$rad8-r-name: 'rad8_r';
$rad8-r-x: 168px;
$rad8-r-y: 368px;
$rad8-r-offset-x: -168px;
$rad8-r-offset-y: -368px;
$rad8-r-width: 8px;
$rad8-r-height: 30px;
$rad8-r-total-width: 600px;
$rad8-r-total-height: 398px;
$rad8-r-image: '../../images/spr/sprite.png';
$rad8-r: (168px, 368px, -168px, -368px, 8px, 30px, 600px, 398px, '../../images/spr/sprite.png', 'rad8_r', );
$read-name: 'read';
$read-x: 443px;
$read-y: 368px;
$read-offset-x: -443px;
$read-offset-y: -368px;
$read-width: 12px;
$read-height: 12px;
$read-total-width: 600px;
$read-total-height: 398px;
$read-image: '../../images/spr/sprite.png';
$read: (443px, 368px, -443px, -368px, 12px, 12px, 600px, 398px, '../../images/spr/sprite.png', 'read', );
$remove-friend-name: 'removeFriend';
$remove-friend-x: 529px;
$remove-friend-y: 194px;
$remove-friend-offset-x: -529px;
$remove-friend-offset-y: -194px;
$remove-friend-width: 24px;
$remove-friend-height: 24px;
$remove-friend-total-width: 600px;
$remove-friend-total-height: 398px;
$remove-friend-image: '../../images/spr/sprite.png';
$remove-friend: (529px, 194px, -529px, -194px, 24px, 24px, 600px, 398px, '../../images/spr/sprite.png', 'removeFriend', );
$right-name: 'right';
$right-x: 0px;
$right-y: 312px;
$right-offset-x: 0px;
$right-offset-y: -312px;
$right-width: 15px;
$right-height: 36px;
$right-total-width: 600px;
$right-total-height: 398px;
$right-image: '../../images/spr/sprite.png';
$right: (0px, 312px, 0px, -312px, 15px, 36px, 600px, 398px, '../../images/spr/sprite.png', 'right', );
$right-12-name: 'right_12';
$right-12-x: 570px;
$right-12-y: 122px;
$right-12-offset-x: -570px;
$right-12-offset-y: -122px;
$right-12-width: 12px;
$right-12-height: 12px;
$right-12-total-width: 600px;
$right-12-total-height: 398px;
$right-12-image: '../../images/spr/sprite.png';
$right-12: (570px, 122px, -570px, -122px, 12px, 12px, 600px, 398px, '../../images/spr/sprite.png', 'right_12', );
$rmcn-down-name: 'rmcn_down';
$rmcn-down-x: 0px;
$rmcn-down-y: 194px;
$rmcn-down-offset-x: 0px;
$rmcn-down-offset-y: -194px;
$rmcn-down-width: 45px;
$rmcn-down-height: 45px;
$rmcn-down-total-width: 600px;
$rmcn-down-total-height: 398px;
$rmcn-down-image: '../../images/spr/sprite.png';
$rmcn-down: (0px, 194px, 0px, -194px, 45px, 45px, 600px, 398px, '../../images/spr/sprite.png', 'rmcn_down', );
$rmcn-up-name: 'rmcn_up';
$rmcn-up-x: 65px;
$rmcn-up-y: 194px;
$rmcn-up-offset-x: -65px;
$rmcn-up-offset-y: -194px;
$rmcn-up-width: 45px;
$rmcn-up-height: 45px;
$rmcn-up-total-width: 600px;
$rmcn-up-total-height: 398px;
$rmcn-up-image: '../../images/spr/sprite.png';
$rmcn-up: (65px, 194px, -65px, -194px, 45px, 45px, 600px, 398px, '../../images/spr/sprite.png', 'rmcn_up', );
$search-name: 'search';
$search-x: 366px;
$search-y: 312px;
$search-offset-x: -366px;
$search-offset-y: -312px;
$search-width: 16px;
$search-height: 16px;
$search-total-width: 600px;
$search-total-height: 398px;
$search-image: '../../images/spr/sprite.png';
$search: (366px, 312px, -366px, -312px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'search', );
$search-w-name: 'search_w';
$search-w-x: 304px;
$search-w-y: 259px;
$search-w-offset-x: -304px;
$search-w-offset-y: -259px;
$search-w-width: 24px;
$search-w-height: 24px;
$search-w-total-width: 600px;
$search-w-total-height: 398px;
$search-w-image: '../../images/spr/sprite.png';
$search-w: (304px, 259px, -304px, -259px, 24px, 24px, 600px, 398px, '../../images/spr/sprite.png', 'search_w', );
$search-white-name: 'search_white';
$search-white-x: 438px;
$search-white-y: 312px;
$search-white-offset-x: -438px;
$search-white-offset-y: -312px;
$search-white-width: 16px;
$search-white-height: 16px;
$search-white-total-width: 600px;
$search-white-total-height: 398px;
$search-white-image: '../../images/spr/sprite.png';
$search-white: (438px, 312px, -438px, -312px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'search_white', );
$sound-name: 'sound';
$sound-x: 550px;
$sound-y: 52px;
$sound-offset-x: -550px;
$sound-offset-y: -52px;
$sound-width: 40px;
$sound-height: 19px;
$sound-total-width: 600px;
$sound-total-height: 398px;
$sound-image: '../../images/spr/sprite.png';
$sound: (550px, 52px, -550px, -52px, 40px, 19px, 600px, 398px, '../../images/spr/sprite.png', 'sound', );
$star-name: 'star';
$star-x: 296px;
$star-y: 194px;
$star-offset-x: -296px;
$star-offset-y: -194px;
$star-width: 32px;
$star-height: 32px;
$star-total-width: 600px;
$star-total-height: 398px;
$star-image: '../../images/spr/sprite.png';
$star: (296px, 194px, -296px, -194px, 32px, 32px, 600px, 398px, '../../images/spr/sprite.png', 'star', );
$student-name: 'student';
$student-x: 523px;
$student-y: 259px;
$student-offset-x: -523px;
$student-offset-y: -259px;
$student-width: 24px;
$student-height: 18px;
$student-total-width: 600px;
$student-total-height: 398px;
$student-image: '../../images/spr/sprite.png';
$student: (523px, 259px, -523px, -259px, 24px, 18px, 600px, 398px, '../../images/spr/sprite.png', 'student', );
$text-name: 'text';
$text-x: 582px;
$text-y: 312px;
$text-offset-x: -582px;
$text-offset-y: -312px;
$text-width: 16px;
$text-height: 16px;
$text-total-width: 600px;
$text-total-height: 398px;
$text-image: '../../images/spr/sprite.png';
$text: (582px, 312px, -582px, -312px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'text', );
$three-d-name: 'threeD';
$three-d-x: 430px;
$three-d-y: 52px;
$three-d-offset-x: -430px;
$three-d-offset-y: -52px;
$three-d-width: 40px;
$three-d-height: 20px;
$three-d-total-width: 600px;
$three-d-total-height: 398px;
$three-d-image: '../../images/spr/sprite.png';
$three-d: (430px, 52px, -430px, -52px, 40px, 20px, 600px, 398px, '../../images/spr/sprite.png', 'threeD', );
$tool-name: 'tool';
$tool-x: 573px;
$tool-y: 194px;
$tool-offset-x: -573px;
$tool-offset-y: -194px;
$tool-width: 24px;
$tool-height: 24px;
$tool-total-width: 600px;
$tool-total-height: 398px;
$tool-image: '../../images/spr/sprite.png';
$tool: (573px, 194px, -573px, -194px, 24px, 24px, 600px, 398px, '../../images/spr/sprite.png', 'tool', );
$underline-name: 'underline';
$underline-x: 268px;
$underline-y: 368px;
$underline-offset-x: -268px;
$underline-offset-y: -368px;
$underline-width: 16px;
$underline-height: 16px;
$underline-total-width: 600px;
$underline-total-height: 398px;
$underline-image: '../../images/spr/sprite.png';
$underline: (268px, 368px, -268px, -368px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'underline', );
$up-name: 'up';
$up-x: 304px;
$up-y: 368px;
$up-offset-x: -304px;
$up-offset-y: -368px;
$up-width: 16px;
$up-height: 16px;
$up-total-width: 600px;
$up-total-height: 398px;
$up-image: '../../images/spr/sprite.png';
$up: (304px, 368px, -304px, -368px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'up', );
$up-grey-name: 'up_grey';
$up-grey-x: 402px;
$up-grey-y: 312px;
$up-grey-offset-x: -402px;
$up-grey-offset-y: -312px;
$up-grey-width: 16px;
$up-grey-height: 16px;
$up-grey-total-width: 600px;
$up-grey-total-height: 398px;
$up-grey-image: '../../images/spr/sprite.png';
$up-grey: (402px, 312px, -402px, -312px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'up_grey', );
$up-grey12-name: 'up_grey12';
$up-grey12-x: 538px;
$up-grey12-y: 122px;
$up-grey12-offset-x: -538px;
$up-grey12-offset-y: -122px;
$up-grey12-width: 12px;
$up-grey12-height: 12px;
$up-grey12-total-width: 600px;
$up-grey12-total-height: 398px;
$up-grey12-image: '../../images/spr/sprite.png';
$up-grey12: (538px, 122px, -538px, -122px, 12px, 12px, 600px, 398px, '../../images/spr/sprite.png', 'up_grey12', );
$upload-name: 'upload';
$upload-x: 510px;
$upload-y: 312px;
$upload-offset-x: -510px;
$upload-offset-y: -312px;
$upload-width: 16px;
$upload-height: 16px;
$upload-total-width: 600px;
$upload-total-height: 398px;
$upload-image: '../../images/spr/sprite.png';
$upload: (510px, 312px, -510px, -312px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'upload', );
$user-name: 'user';
$user-x: 258px;
$user-y: 312px;
$user-offset-x: -258px;
$user-offset-y: -312px;
$user-width: 16px;
$user-height: 16px;
$user-total-width: 600px;
$user-total-height: 398px;
$user-image: '../../images/spr/sprite.png';
$user: (258px, 312px, -258px, -312px, 16px, 16px, 600px, 398px, '../../images/spr/sprite.png', 'user', );
$user-circle-name: 'user_circle';
$user-circle-x: 244px;
$user-circle-y: 194px;
$user-circle-offset-x: -244px;
$user-circle-offset-y: -194px;
$user-circle-width: 32px;
$user-circle-height: 32px;
$user-circle-total-width: 600px;
$user-circle-total-height: 398px;
$user-circle-image: '../../images/spr/sprite.png';
$user-circle: (244px, 194px, -244px, -194px, 32px, 32px, 600px, 398px, '../../images/spr/sprite.png', 'user_circle', );
$video-name: 'video';
$video-x: 294px;
$video-y: 122px;
$video-offset-x: -294px;
$video-offset-y: -122px;
$video-width: 40px;
$video-height: 19px;
$video-total-width: 600px;
$video-total-height: 398px;
$video-image: '../../images/spr/sprite.png';
$video: (294px, 122px, -294px, -122px, 40px, 19px, 600px, 398px, '../../images/spr/sprite.png', 'video', );
$web-name: 'web';
$web-x: 370px;
$web-y: 52px;
$web-offset-x: -370px;
$web-offset-y: -52px;
$web-width: 40px;
$web-height: 22px;
$web-total-width: 600px;
$web-total-height: 398px;
$web-image: '../../images/spr/sprite.png';
$web: (370px, 52px, -370px, -52px, 40px, 22px, 600px, 398px, '../../images/spr/sprite.png', 'web', );
$write-name: 'write';
$write-x: 110px;
$write-y: 312px;
$write-offset-x: -110px;
$write-offset-y: -312px;
$write-width: 20px;
$write-height: 20px;
$write-total-width: 600px;
$write-total-height: 398px;
$write-image: '../../images/spr/sprite.png';
$write: (110px, 312px, -110px, -312px, 20px, 20px, 600px, 398px, '../../images/spr/sprite.png', 'write', );
$spritesheet-width: 600px;
$spritesheet-height: 398px;
$spritesheet-image: '../../images/spr/sprite.png';
$spritesheet-sprites: ($add, $add-friend, $bell, $bell-circle, $bold, $bookmark, $circle34-ccc, $close, $color, $delete, $design, $down, $down-grey, $down-grey12, $embed, $facebook, $follow, $game, $gender, $graphics, $heart, $heart-after, $heart-before, $id, $input-checked, $input-unchecked, $italic, $left, $left-12, $like, $mail, $mediolio, $menu-button, $message, $my-portfolio, $name, $next-wh, $password, $pencil, $pencil-circle, $prev, $rad24-b5, $rad30-555, $rad30-center-wb, $rad30-left-w, $rad30-left-wb, $rad30-right-w, $rad30-right-wb, $rad8-l, $rad8-r, $read, $remove-friend, $right, $right-12, $rmcn-down, $rmcn-up, $search, $search-w, $search-white, $sound, $star, $student, $text, $three-d, $tool, $underline, $up, $up-grey, $up-grey12, $upload, $user, $user-circle, $video, $web, $write, );
$spritesheet: (600px, 398px, '../../images/spr/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
